.main {
  width: 320px;
  margin: 0 auto;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.main__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
  color: $white;
}

.main__slogan {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  color: $white;
}

.main__chicken {
  display: block;
  margin: 0 auto;
}

.main__pick-up {
  padding: 15px 70px;
  font-size: 14px;
  line-height: 18px;
}

@media (min-width: $tablet-width) {
  .main {
    display: flex;
    width: 418px;
    flex-direction: column;
    background-image: none;
  }

  .main__title {
    font-size: 60px;
    line-height: 60px;
    color: $dark;
    text-align: left;
    margin: 24px 0;
  }

  .main__slogan {
    font-size: 20px;
    line-height: 20px;
    color: $dark;
    text-align: left;
  }

  .main__chicken {
    order: 4;
    width: 500px;
    height: 540px;
    margin-top: -90px;
  }

  .main__pick-up {
    margin: 20px 0;
    z-index: 2;
  }
}

@media (min-width: $desktop-width) {
  .main {
    width: 1120px;
    margin: 115px auto 0;
  }

  .main__chicken {
    margin-left: 380px;
    margin-top: -380px;
  }
}

