.page-footer {
  background-color: $grey;
}

.page-footer__wrapper {
  width: 282px;
  margin: 0 auto;
  padding: 64px 0;
}

.page-footer__name-logo {
  display: block;
  width: 130px;
  margin: 0 auto;
}

.page-footer__copyright {
  display: flex;
  justify-content: space-between;
}

.page-footer__copyright-text {
  font-size: 16px;
  line-height: 16px;
  font-family: "Arial", sans-serif;
  color: $light-dark;
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    width: 708px;
    display: flex;
    justify-content: space-between;
  }

  .page-footer__name-logo {
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__wrapper {
    width: 1220px;
  }
}
