.site-list {
  @include list;
  text-align: center;
  margin: 0 auto;
}

.site-list__item {
  padding: 25px 0;
  border-bottom: 1px solid #e6e6e6;

  a {
    font-size: 20px;
    line-height: 20px;
    color: $dark;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
  }
}

@media (min-width: $tablet-width) {
  .site-list {
    display: flex;
    justify-content: space-between;
    width: 440px;
  }

  .site-list__item {
    padding: 20px 0;
    border: none;

    a {
      font-size: 18px;
      line-height: 24px;
    }
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    width: 480px;

    a {
      font-size: 20px;
      color: $white;
    }
  }

  .site-list__item--catalog a {
    color: $dark;
  }
}
