.slider {
  background-color: $grey;
}

.slider__title {
  font-size: 36px;
  line-height: 60px;
  color: $dark;
  font-weight: 400;
}

.slider__text {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: $light-dark;
}

.slider__number {
  font-size: 24px;
  line-height: 24px;
  color: $dark;
  font-weight: 400;
  text-transform: uppercase;
}

.slider__result {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  color: $light-dark;
}

.slider__cost {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: $dark;
  text-transform: uppercase;
}

.slider__button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: $dark;
  text-transform: uppercase;
  border: none;
  background-color: transparent;
}
