.works__title {
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: $dark;
  padding-left: 20px;
}

.works__list {
  @include list;
}

.works__item {
  font-family: "Arial", sans-serif;
  padding-bottom: 30px;
  padding-right: 27px;
  padding-left: 100px;
  color: $light-dark;
}
